In [23]:
import pandas as pd

In [24]:
df = pd.read_csv(r"Comments/July2018CommentsSentimentAll.csv")
df = df.drop(columns = "Unnamed: 0")
df["timestamp"] = pd.to_datetime(df["timestamp"]).dt.date
df = df.set_index("timestamp").sort_values(by='timestamp', ascending=True)
df

,0,neg,neu,pos,compound
timestamp,,,,,
2018-06-30,"[""So the Samsung galaxy card linked an article...",0.096,0.904,0.000,-0.3736
2018-06-30,"['If they have the same prices, you may think ...",0.000,0.713,0.287,0.9524
2018-06-30,"[""Looking at it it doesn't appear to have any ...",0.000,0.865,0.135,0.6369
2018-07-01,"[""Doesn't Samsung still make their parts?""]",0.000,1.000,0.000,0.0000
2018-07-01,"[""Ahh shit. Well I'd try take that back asap. ...",0.072,0.800,0.128,0.7526
...,...,...,...,...,...
2018-07-19,['No. Samsung has a patent on it']------,0.000,1.000,0.000,0.0000
2018-07-19,['both are very good phones you cant go wrong ...,0.000,0.628,0.372,0.9446
2018-07-19,['You check Samsung secure folder?']----,0.000,0.625,0.375,0.3400
2018-07-19,['I thought samsung was going to discontinue t...,0.000,1.000,0.000,0.0000
2018-07-19,['Who is the trade in for? Samsung? If so be w...,0.176,0.824,0.000,-0.6199

In [25]:
# Polarity = []
# for sentiment in df.Senti:
#     if sentiment > 0:
#         Polarity.append(1)
#     elif sentiment < 0:
#         Polarity.append(-1)
# GeneralSenti = pd.DataFrame(Polarity, columns = ["General_Sentiment"])
# df = pd.concat([df, GeneralSenti], axis = 1)

In [36]:
Senti_Per_Day = df.groupby('timestamp').sum()
Senti_Per_Day

              neg     neu    pos  compound
timestamp
2018-06-30  0.096   2.482  0.422    1.2157
2018-07-01  0.498   8.817  0.686    1.6746
2018-07-02  0.771  16.551  1.679    1.7427
2018-07-03  1.680  32.342  3.977    7.4340
2018-07-04  1.324  30.775  1.902    3.0294
2018-07-05  1.830  30.241  2.929    3.7544
2018-07-06  0.668  11.298  1.034    1.7467
2018-07-07  1.982  25.777  2.239    3.3867
2018-07-08  0.261   6.272  0.467    1.7772
2018-07-09  0.717  18.380  1.903    5.3077
2018-07-10  0.790  17.199  2.014    6.5701
2018-07-11  0.414  14.542  1.042    4.3276
2018-07-12  1.301  15.520  2.178    1.0826
2018-07-13  1.009  17.373  1.620    5.2659
2018-07-14  0.592  13.590  0.817    2.5532
2018-07-15  1.290  18.321  2.388    6.2380
2018-07-16  1.390  18.612  1.998    4.5865
2018-07-17  1.149  20.338  1.517    2.6695
2018-07-18  0.869  12.260  0.870    1.3115
2018-07-19  0.176   7.141  1.683    2.7855

In [27]:
# avg = Senti_Per_Day.sum()/len(Senti_Per_Day)

In [28]:
# import datetime
# start_date = datetime.date(2018, 7, 1)
# end_date = datetime.date(2019, 10, 31)
# mydates = pd.date_range(start_date, end_date).tolist()
# dates = pd.DataFrame(mydates, columns = ["Date"])
# dates["Date"] = dates["Date"].dt.date
# # dates["Senti"] = 0
# dates.set_index("Date").sort_values(by='Date', ascending=True)

Empty DataFrame
Columns: []
Index: [2018-07-01, 2018-07-02, 2018-07-03, 2018-07-04, 2018-07-05, 2018-07-06, 2018-07-07, 2018-07-08, 2018-07-09, 2018-07-10, 2018-07-11, 2018-07-12, 2018-07-13, 2018-07-14, 2018-07-15, 2018-07-16, 2018-07-17, 2018-07-18, 2018-07-19, 2018-07-20, 2018-07-21, 2018-07-22, 2018-07-23, 2018-07-24, 2018-07-25, 2018-07-26, 2018-07-27, 2018-07-28, 2018-07-29, 2018-07-30, 2018-07-31, 2018-08-01, 2018-08-02, 2018-08-03, 2018-08-04, 2018-08-05, 2018-08-06, 2018-08-07, 2018-08-08, 2018-08-09, 2018-08-10, 2018-08-11, 2018-08-12, 2018-08-13, 2018-08-14, 2018-08-15, 2018-08-16, 2018-08-17, 2018-08-18, 2018-08-19, 2018-08-20, 2018-08-21, 2018-08-22, 2018-08-23, 2018-08-24, 2018-08-25, 2018-08-26, 2018-08-27, 2018-08-28, 2018-08-29, 2018-08-30, 2018-08-31, 2018-09-01, 2018-09-02, 2018-09-03, 2018-09-04, 2018-09-05, 2018-09-06, 2018-09-07, 2018-09-08, 2018-09-09, 2018-09-10, 2018-09-11, 2018-09-12, 2018-09-13, 2018-09-14, 2018-09-15, 2018-09-16, 2018-09-17, 2018-09-18, 2018-09-19, 2018-09-20, 2018-09-21, 2018-09-22, 2018-09-23, 2018-09-24, 2018-09-25, 2018-09-26, 2018-09-27, 2018-09-28, 2018-09-29, 2018-09-30, 2018-10-01, 2018-10-02, 2018-10-03, 2018-10-04, 2018-10-05, 2018-10-06, 2018-10-07, 2018-10-08, ...]

[488 rows x 0 columns]

In [30]:
Senti_Running_Dates = dates.join(Senti_Per_Day, on = "Date")
Senti_Running_Dates = Senti_Running_Dates.fillna(avg)
# Senti_Running_Dates.to_csv(r"C:\Users\Jurgen\Desktop\FYP\News\SK-Learn\SentimentPerDay.csv")

In [31]:
Senti_Running_Dates = Senti_Running_Dates.rename(columns = {"Senti" : "News_Senti"}).set_index("Date").sort_values(by='Date', ascending=True)

In [35]:
Senti_Running_Dates.to_csv('C:/Users/jiajie25/Documents/GitHub/FYP/Social Media/reddit/MLReady/Comments/New Sorted Comments/July2018.csv')
print(Senti_Running_Dates)
print('written')

                neg       neu      pos  compound
Date
2018-07-01  0.49800   8.81700  0.68600  1.674600
2018-07-02  0.77100  16.55100  1.67900  1.742700
2018-07-03  1.68000  32.34200  3.97700  7.434000
2018-07-04  1.32400  30.77500  1.90200  3.029400
2018-07-05  1.83000  30.24100  2.92900  3.754400
...             ...       ...      ...       ...
2019-10-27  0.94035  16.89155  1.66825  3.422975
2019-10-28  0.94035  16.89155  1.66825  3.422975
2019-10-29  0.94035  16.89155  1.66825  3.422975
2019-10-30  0.94035  16.89155  1.66825  3.422975
2019-10-31  0.94035  16.89155  1.66825  3.422975

[488 rows x 4 columns]
written

In [253]:
Stock_Diff = pd.read_csv(r"C:\Users\Jurgen\Desktop\FYP\Stock\StockDifference.csv")

Stock_Diff["Date"] = pd.to_datetime(Stock_Diff["Date"]).dt.date
Stock_Diff = Stock_Diff.set_index("Date")

In [254]:
Stock_Diff

            Close_USD  Stock_Difference
Date
2018-07-02  40.660223          0.007702
2018-07-03  41.472320          0.812097
2018-07-04  41.380457         -0.091864
2018-07-05  41.099746         -0.280711
2018-07-06  40.155585         -0.944160
...               ...               ...
2019-10-25  43.325872          0.103882
2019-10-28  43.848824          0.522953
2019-10-29  43.751215         -0.097609
2019-10-30  43.149714         -0.601502
2019-10-31  43.147943         -0.001771

[323 rows x 2 columns]

In [255]:
News_Stock = Senti_Running_Dates.join(Stock_Diff, lsuffix='Date', rsuffix='Date', on = "Date")

In [257]:
News_Stock.to_csv("News_Stock_Data.csv")

In [277]:
Twitter_Senti = pd.read_csv(r"C:\Users\Jurgen\Desktop\FYP\Shared\TwitterSentimentPerDay.csv")
Twitter_Senti["Date"] = pd.to_datetime(Twitter_Senti["Date"], format =  "%d/%m/%Y").dt.date
Twitter_Senti = Twitter_Senti.set_index("Date")
Twitter_Senti = Twitter_Senti.rename(columns = {"compound" : "Twitter_Senti"}) 
Twitter_Senti

            Twitter_Senti
Date
2018-07-01       0.354322
2018-07-02       0.354322
2018-07-03       0.354322
2018-07-04       0.354322
2018-07-05       0.354322
...                   ...
2019-10-27       0.636900
2019-10-28       0.636900
2019-10-29       0.672900
2019-10-30       0.935700
2019-10-31       0.354322

[488 rows x 1 columns]

In [278]:
News_Twitter_Stock = News_Stock.join(Twitter_Senti, lsuffix='Date', rsuffix='Date', on = "Date")

In [388]:
News_Twitter_Stock.to_csv(r"C:\Users\Jurgen\Desktop\FYP\Shared\News_Twitter_Stock_Data.csv")

C:\Users\Jurgen\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.

In [389]:
News_Twitter_Stock

Date
2018-07-01    0.000000
2018-07-02    0.007702
2018-07-03    0.812097
2018-07-04   -0.091864
2018-07-05   -0.280711
                ...
2019-10-27    0.103882
2019-10-28    0.522953
2019-10-29   -0.097609
2019-10-30   -0.601502
2019-10-31   -0.001771
Name: Stock_Difference, Length: 488, dtype: float64

In [366]:
PH = []
for i in range(len(News_Twitter_Stock.Stock_Difference)):
    if pd.isna(News_Twitter_Stock.Stock_Difference.values[i]) == True and News_Twitter_Stock.index[i].weekday() != 5 and News_Twitter_Stock.index[i].weekday() != 6:
        PH.append((News_Twitter_Stock.index[i], News_Twitter_Stock.index[i].weekday()))

In [387]:
News_Twitter_Stock.Stock_Difference = News_Twitter_Stock.Stock_Difference.fillna(0)