In [70]:
import pandas as pd

In [71]:
df = pd.read_csv(r"SelfText/July2018SentimentAll.csv")
df = df.drop(columns = "Unnamed: 0")
df["timestamp"] = pd.to_datetime(df["timestamp"]).dt.date
df = df.set_index("timestamp").sort_values(by='timestamp', ascending=True)
df

,body,neg,neu,pos,compound
timestamp,,,,,
2018-06-30,"['I have a Samsung CF391, and I want to use it...",0.088,0.755,0.157,0.2960
2018-07-01,['I can hear my phone calls and the beeps and ...,0.000,0.910,0.090,0.4497
2018-07-01,"['Hi! So I recently got a new phone, I took th...",0.065,0.816,0.118,0.7993
2018-07-01,['Rumours have it Apple will launch the new iP...,0.087,0.913,0.000,-0.2960
2018-07-01,"[""I just got a new S9+, after using an older S...",0.057,0.862,0.081,0.4574
...,...,...,...,...,...
2018-07-22,"['Hi there, I have an issue with my older gene...",0.044,0.956,0.000,-0.4767
2018-07-22,['Wife updated her phone about two weeks ago. ...,0.000,0.939,0.061,0.7783
2018-07-22,['So I want to try to use the health app to tr...,0.000,0.872,0.128,0.6310
2018-07-23,['Today I was at home and Samsung health rando...,0.000,0.898,0.102,0.5848
2018-07-23,"[""It looks Samsung wants to create its own OS....",0.000,0.940,0.060,0.6694

In [72]:
# Polarity = []
# for sentiment in df.Senti:
#     if sentiment > 0:
#         Polarity.append(1)
#     elif sentiment < 0:
#         Polarity.append(-1)
# GeneralSenti = pd.DataFrame(Polarity, columns = ["General_Sentiment"])
# df = pd.concat([df, GeneralSenti], axis = 1)

In [73]:
Senti_Per_Day = df.groupby('timestamp').sum()
Senti_Per_Day

              neg    neu    pos  compound
timestamp
2018-06-30  0.088  0.755  0.157    0.2960
2018-07-01  0.209  3.501  0.289    1.4104
2018-07-02  0.324  3.538  0.139   -0.6714
2018-07-03  0.064  4.801  0.134    0.3291
2018-07-04  0.170  3.539  0.291    0.7718
2018-07-05  0.390  7.114  0.497    1.5286
2018-07-06  0.387  6.158  0.455    1.1746
2018-07-07  0.344  4.280  0.376    0.5833
2018-07-08  0.180  3.582  0.238    0.4597
2018-07-09  0.967  5.683  0.351   -4.1610
2018-07-10  0.450  4.123  0.428   -0.3501
2018-07-11  0.798  9.368  0.833   -0.0721
2018-07-12  0.578  7.898  0.526   -1.4007
2018-07-13  0.200  4.605  0.194    1.1194
2018-07-14  0.177  2.794  0.029   -1.3907
2018-07-15  0.200  2.608  0.192    0.2622
2018-07-16  0.186  6.757  1.057    2.4444
2018-07-17  0.028  0.841  0.131    0.7365
2018-07-18  0.284  6.048  0.667    1.3984
2018-07-19  0.369  4.421  0.209   -0.9467
2018-07-20  0.670  6.742  0.588   -0.5565
2018-07-21  0.268  6.214  0.517    0.8032
2018-07-22  0.449  6.125  0.426    0.6030
2018-07-23  0.000  1.838  0.162    1.2542

In [74]:
# avg = Senti_Per_Day.sum()/len(Senti_Per_Day)

In [75]:
import datetime
start_date = datetime.date(2018, 7, 1)
end_date = datetime.date(2019, 10, 31)
mydates = pd.date_range(start_date, end_date).tolist()
dates = pd.DataFrame(mydates, columns = ["Date"])
dates["Date"] = dates["Date"].dt.date
# dates["Senti"] = 0
dates.set_index("Date").sort_values(by='Date', ascending=True)

Empty DataFrame
Columns: []
Index: [2018-07-01, 2018-07-02, 2018-07-03, 2018-07-04, 2018-07-05, 2018-07-06, 2018-07-07, 2018-07-08, 2018-07-09, 2018-07-10, 2018-07-11, 2018-07-12, 2018-07-13, 2018-07-14, 2018-07-15, 2018-07-16, 2018-07-17, 2018-07-18, 2018-07-19, 2018-07-20, 2018-07-21, 2018-07-22, 2018-07-23, 2018-07-24, 2018-07-25, 2018-07-26, 2018-07-27, 2018-07-28, 2018-07-29, 2018-07-30, 2018-07-31, 2018-08-01, 2018-08-02, 2018-08-03, 2018-08-04, 2018-08-05, 2018-08-06, 2018-08-07, 2018-08-08, 2018-08-09, 2018-08-10, 2018-08-11, 2018-08-12, 2018-08-13, 2018-08-14, 2018-08-15, 2018-08-16, 2018-08-17, 2018-08-18, 2018-08-19, 2018-08-20, 2018-08-21, 2018-08-22, 2018-08-23, 2018-08-24, 2018-08-25, 2018-08-26, 2018-08-27, 2018-08-28, 2018-08-29, 2018-08-30, 2018-08-31, 2018-09-01, 2018-09-02, 2018-09-03, 2018-09-04, 2018-09-05, 2018-09-06, 2018-09-07, 2018-09-08, 2018-09-09, 2018-09-10, 2018-09-11, 2018-09-12, 2018-09-13, 2018-09-14, 2018-09-15, 2018-09-16, 2018-09-17, 2018-09-18, 2018-09-19, 2018-09-20, 2018-09-21, 2018-09-22, 2018-09-23, 2018-09-24, 2018-09-25, 2018-09-26, 2018-09-27, 2018-09-28, 2018-09-29, 2018-09-30, 2018-10-01, 2018-10-02, 2018-10-03, 2018-10-04, 2018-10-05, 2018-10-06, 2018-10-07, 2018-10-08, ...]

[488 rows x 0 columns]

In [76]:
Senti_Running_Dates = dates.join(Senti_Per_Day, on = "Date")
# Senti_Running_Dates = Senti_Running_Dates.fillna(avg)
# Senti_Running_Dates.to_csv(r"C:\Users\Jurgen\Desktop\FYP\News\SK-Learn\SentimentPerDay.csv")

In [77]:
Senti_Running_Dates = Senti_Running_Dates.rename(columns = {"Senti" : "News_Senti"}).set_index("Date").sort_values(by='Date', ascending=True)

In [78]:
Senti_Running_Dates.to_csv('C:/Users/jiajie25/Documents/GitHub/FYP/Social Media/reddit/MLReady/Comments/New Sorted Comments/New2July2018.csv')
print(Senti_Running_Dates)
print('written')

              neg    neu    pos  compound
Date
2018-07-01  0.209  3.501  0.289    1.4104
2018-07-02  0.324  3.538  0.139   -0.6714
2018-07-03  0.064  4.801  0.134    0.3291
2018-07-04  0.170  3.539  0.291    0.7718
2018-07-05  0.390  7.114  0.497    1.5286
...           ...    ...    ...       ...
2019-10-27    NaN    NaN    NaN       NaN
2019-10-28    NaN    NaN    NaN       NaN
2019-10-29    NaN    NaN    NaN       NaN
2019-10-30    NaN    NaN    NaN       NaN
2019-10-31    NaN    NaN    NaN       NaN

[488 rows x 4 columns]
written

In [253]:
Stock_Diff = pd.read_csv(r"C:\Users\Jurgen\Desktop\FYP\Stock\StockDifference.csv")

Stock_Diff["Date"] = pd.to_datetime(Stock_Diff["Date"]).dt.date
Stock_Diff = Stock_Diff.set_index("Date")

In [254]:
Stock_Diff

            Close_USD  Stock_Difference
Date
2018-07-02  40.660223          0.007702
2018-07-03  41.472320          0.812097
2018-07-04  41.380457         -0.091864
2018-07-05  41.099746         -0.280711
2018-07-06  40.155585         -0.944160
...               ...               ...
2019-10-25  43.325872          0.103882
2019-10-28  43.848824          0.522953
2019-10-29  43.751215         -0.097609
2019-10-30  43.149714         -0.601502
2019-10-31  43.147943         -0.001771

[323 rows x 2 columns]

In [255]:
News_Stock = Senti_Running_Dates.join(Stock_Diff, lsuffix='Date', rsuffix='Date', on = "Date")

In [257]:
News_Stock.to_csv("News_Stock_Data.csv")

In [277]:
Twitter_Senti = pd.read_csv(r"C:\Users\Jurgen\Desktop\FYP\Shared\TwitterSentimentPerDay.csv")
Twitter_Senti["Date"] = pd.to_datetime(Twitter_Senti["Date"], format =  "%d/%m/%Y").dt.date
Twitter_Senti = Twitter_Senti.set_index("Date")
Twitter_Senti = Twitter_Senti.rename(columns = {"compound" : "Twitter_Senti"}) 
Twitter_Senti

            Twitter_Senti
Date
2018-07-01       0.354322
2018-07-02       0.354322
2018-07-03       0.354322
2018-07-04       0.354322
2018-07-05       0.354322
...                   ...
2019-10-27       0.636900
2019-10-28       0.636900
2019-10-29       0.672900
2019-10-30       0.935700
2019-10-31       0.354322

[488 rows x 1 columns]

In [278]:
News_Twitter_Stock = News_Stock.join(Twitter_Senti, lsuffix='Date', rsuffix='Date', on = "Date")

In [388]:
News_Twitter_Stock.to_csv(r"C:\Users\Jurgen\Desktop\FYP\Shared\News_Twitter_Stock_Data.csv")

C:\Users\Jurgen\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.

In [389]:
News_Twitter_Stock

Date
2018-07-01    0.000000
2018-07-02    0.007702
2018-07-03    0.812097
2018-07-04   -0.091864
2018-07-05   -0.280711
                ...
2019-10-27    0.103882
2019-10-28    0.522953
2019-10-29   -0.097609
2019-10-30   -0.601502
2019-10-31   -0.001771
Name: Stock_Difference, Length: 488, dtype: float64

In [366]:
PH = []
for i in range(len(News_Twitter_Stock.Stock_Difference)):
    if pd.isna(News_Twitter_Stock.Stock_Difference.values[i]) == True and News_Twitter_Stock.index[i].weekday() != 5 and News_Twitter_Stock.index[i].weekday() != 6:
        PH.append((News_Twitter_Stock.index[i], News_Twitter_Stock.index[i].weekday()))

In [387]:
News_Twitter_Stock.Stock_Difference = News_Twitter_Stock.Stock_Difference.fillna(0)