In [1]:
import pandas as pd

In [51]:
df = pd.read_csv(r"C:\Users\Jurgen\Desktop\FYP\Stock\2018-07-01.2019-10-31.005930.ks.csv")
df

,date,open,high,low,close,adj_close,volume,Stockname,Open_USD,High_USD,Low_USD,Close_USD,Adj_Close_USD
0,2/7/2018,46500,47150,45500,45550,44792.49609,13112253,005930.ks,41.508241,42.088464,40.615591,40.660223,39.984037
1,3/7/2018,45750,46450,45750,46150,45382.51563,10959655,005930.ks,41.112864,41.741913,41.112864,41.472320,40.782627
2,4/7/2018,46700,47050,46050,46250,45480.85156,8776763,005930.ks,41.783077,42.096227,41.201514,41.380457,40.692290
3,5/7/2018,46100,46550,45600,45950,45185.83984,7039773,005930.ks,41.233912,41.636413,40.786690,41.099746,40.416246
4,6/7/2018,45500,45850,44650,44900,44153.30469,17843706,005930.ks,40.692186,41.005202,39.932002,40.155585,39.487791
...,...,...,...,...,...,...,...,...,...,...,...,...,...
318,25/10/2019,50800,51200,50500,50900,50900.00000,7879897,005930.ks,43.240752,43.581230,42.985393,43.325872,43.325872
319,28/10/2019,50700,51500,50700,51300,51300.00000,6431522,005930.ks,43.335973,44.019775,43.335973,43.848824,43.848824
320,29/10/2019,51400,51700,50800,51100,51100.00000,7581629,005930.ks,44.008072,44.264928,43.494359,43.751215,43.751215
321,30/10/2019,50700,50800,50200,50400,50400.00000,8959435,005930.ks,43.406557,43.492172,42.978485,43.149714,43.149714
322,31/10/2019,51000,51400,50300,50400,50400.00000,10304777,005930.ks,43.661609,44.004053,43.062332,43.147943,43.147943

In [52]:
close = df[["date", "Close_USD"]] 
close = close.rename(columns={"date": "Date"})
close["Date"] = pd.to_datetime(close["Date"], format = "%d/%m/%Y").dt.date
close = close.set_index("Date")

In [53]:
close

            Close_USD
Date
2018-07-02  40.660223
2018-07-03  41.472320
2018-07-04  41.380457
2018-07-05  41.099746
2018-07-06  40.155585
...               ...
2019-10-25  43.325872
2019-10-28  43.848824
2019-10-29  43.751215
2019-10-30  43.149714
2019-10-31  43.147943

[323 rows x 1 columns]

In [54]:
diff = [0]
for i in range(len(close) - 1):
    diff.append(close["Close_USD"][i+1] - close["Close_USD"][i])
print(len(diff))

323

In [55]:
close["Stock_Difference"] = diff

In [57]:
avg = close["Stock_Difference"].sum()/len(close["Stock_Difference"])
avg

0.007701918235294132

In [58]:
close["Stock_Difference"] = close["Stock_Difference"].replace(0, avg)

In [60]:
close.index

Index([2018-07-02, 2018-07-03, 2018-07-04, 2018-07-05, 2018-07-06, 2018-07-09,
       2018-07-10, 2018-07-11, 2018-07-12, 2018-07-13,
       ...
       2019-10-18, 2019-10-21, 2019-10-22, 2019-10-23, 2019-10-24, 2019-10-25,
       2019-10-28, 2019-10-29, 2019-10-30, 2019-10-31],
      dtype='object', name='Date', length=323)

In [61]:
close.to_csv(r"StockDifference.csv")